{% extends "base.html" %}
{% block content %}

<div class="breadcrumbs">
Nav: <a href="/edit{{answer.question.quiz.pageblock.section.get_absolute_url}}">{{answer.question.quiz.pageblock.section.label}}</a> ::
<a href="{% url edit-quiz answer.question.quiz.id %}">Quiz</a> ::
<a href="{% url edit-question answer.question.id %}">Question
  {{answer.question.display_number}}: {{ answer.question.text }}</a>
</div>


<h2>
Answer {{answer.display_number}}: {{ answer.value }}
</h2>

<form action="." method="post">
<table width="100%">
{{ answer.edit_form.as_table }}
</table>
<input type="submit" value="save" />
</form>

{% endblock %}
