{% load markup %}

<div class="caseanswercontainer">
    {% if block.rhetorical %}
        <textarea name="question{{question.id}}" class="form-control"></textarea>
    {% else %}
        {% if response %}
            <textarea readonly="readonly" name="pageblock-{{block.pageblock.id}}-question{{question.id}}" class="form-control">{{response.value}}</textarea>
        {% else %}
            <textarea name="pageblock-{{block.pageblock.id}}-question{{question.id}}" class="form-control"></textarea>
        {% endif %}
    {% endif %}
</div>
