{% load markup %}
<div class="casesanswerdisplay">
    {% if block.rhetorical %}
        <a href="#q{{question.id}}" class="moretoggle">Show answer &gt;&gt;</a>
        <div id="q{{question.id}}" class="toggleable" style="display: none">
            <p>
                {% if question.correct_answer_letter %}
                <i>The correct answer is {{question.correct_answer_letter}}:</i>
                {% endif %}
                <div class="casequestionexplanation">{{question.explanation|markdown}}</div>
            </p>
        </div>
    {% else %}
        <div class="casequestionexplanation">
            {{question.explanation|markdown}}
        </div>
    {% endif %}
</div>