{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}

<script type="text/javascript">
    var saveOrderOfQuestions = function(quiz_id) {
        jQuery("#ajax_errors").html("");
        
        var base_url = "/quizblock/reorder_questions/" + quiz_id + "/?";
        var params = "";
        jQuery("#question-order-list tr").each(function(index,element) {
           if (jQuery(element).attr('name') !== undefined) {
              var id = jQuery(element).attr('name').split("-")[1];
              params += "question_" + index + "=" + id + ";";
           }
        });
        
        if (params.length) {
            jQuery.ajax({
                type: "POST",
                url: base_url + params,
                contentType: "application/x-www-form-urlencoded",
                data: "csrfmiddlewaretoken=" + jQuery('input[name=csrfmiddlewaretoken]').val(),
                success: function(data) {
                   // silently success
                },
                error: function() {
                    jQuery("#ajax_errors").html('<p class="errornote">An error occurred while reordering your questions. Please try again.</p>');
                }
            });
        }
    };

    var toggleExplanation = function() {
        var read_only = !jQuery("#id_rhetorical").attr('checked');
        
        jQuery("#question_set-group textarea").each(function(index,element) {
            if (jQuery(element).attr('name').indexOf("explanation") > -1) {
                // toggle read-only switch accordingly
                jQuery(element).attr('readOnly', read_only);

                if (read_only)
                    jQuery(element).css('background-color', '#eee');
                else
                    jQuery(element).css('background-color', '#fff');
            }
         });
    }

    var toggleAnswerLink = function(element) {
        var show_answer_link = element.val() == 'multiple choice' || element.val() == 'single choice';
        var answer_link_id = '#' + element.attr('id').replace('question_type', 'answerlink');
        jQuery(answer_link_id).css('display', show_answer_link ? 'inline' : 'none');
    }

    jQuery(document).ready(function() { 
        jQuery("#question-order-list").sortable({
          items : 'tr'
          , containment : 'parent'
          , axis : 'y'
          , tolerance: 'pointer'
          , activeClass: 'dragging'
          , handle: '.draghandle'
          , stop: function (event,ui) { saveOrderOfQuestions({{adminform.form.instance.id}}); }
        });

        toggleExplanation();
        
        jQuery("#id_rhetorical").click(function(event) { toggleExplanation(); });

        jQuery("select").each(function(index,element) {
            toggleAnswerLink($(this));
        });

        jQuery("select").change(function(event) {
            toggleAnswerLink($(this));
        });
    });
</script>


{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;   
     <a href="/admin/pagetree/">Pagetree</a> &rsaquo;
     <a href="/admin/pagetree/section/">Site Hierarchy</a> &rsaquo;
     
     {% with original.pageblocks.all.0.section as current_section %}
         {% for section in current_section.get_ancestors %}
            {% ifequal section.label "Root" %}
                <a href="/admin/pagetree/section/{{section.id}}/">{{section.hierarchy.name|capfirst}} Root</a> &rsaquo;
            {% else %}
                <a href="/admin/pagetree/section/{{section.id}}/">{{section.label}}</a> &rsaquo;
            {% endifequal %}
         {% endfor %}
         
         <a href="/admin/pagetree/section/{{current_section.id}}/">{{ current_section.label }}</a>
         
         &rsaquo;
         {{ original }}
     {% endwith %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
<div id="ajax_errors"></div>
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% with adminform.form.instance as parent %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endwith %}

{% block after_related_objects %}{% endblock %}

<div class="submit-row">
    <input value="Save" class="default" name="_continue" type="submit">
</div>

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
